*{
    font-family: sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
    height: 22px;
}

#remov{
    width: 22px;
}


ul{
    display: flex;
    flex-direction: row;
    transition: 1s;
}

li{
    margin: auto;
    list-style: decimal;
    transition: 1s;
}