*{
    font-family: sans-serif;
}

#container{
    display: flex;
    flex-direction: row;
    height: 22px;
}

#remov{
    width: 22px;
}


ul{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0.2px;
}

li{
    display: flex;
    transition: 1s;
}